:root {
  --fonte: 'Montserrat', sans-serif;

  --branco: #FFF;
  --preto: #000;
  --cinza: #E2E2E2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--branco);
  margin: 0;
  font-family: var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
